

<app-viewer-box title="Login">
    <div class="view-content">

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div fxFlexAlign="center" fxLayoutAlign="stretch">
              <mat-form-field class="example-full-width">
                <input type="email" matInput placeholder="email" formControlName="email" >
                <mat-error *ngIf="f.email.invalid && submitted">Por favor introduzca un email válido</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput type="password"  placeholder="Contraseña" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <mat-error *ngIf="f.password.invalid && submitted">Campo obligatorio</mat-error>
              </mat-form-field>
            </div>
    
            <p *ngIf="errorMessage && submitted" class="error">
              {{ errorMessage }}
            </p>
      
            <div   >
                <div class="button">
                    <button type="submit" mat-raised-button color="primary"    mat-button>login</button>
                    <button type="button" mat-raised-button color="primary" (click)="goRegister()" mat-button>Register</button>
                  </div>
                <mat-progress-spinner *ngIf="loading"
                    class="example-margin"
                    color="primary"
                    mode="indeterminate"
                    diameter="50">
                </mat-progress-spinner>
            </div>
        </form>
    </div>
      </app-viewer-box>

   

