<app-playable-list [image]="album.image" [title]="album.name" 
[info]="album.description" [songs]="songs" (onPlayall)="playAlbum()" 
(onPlayItem)="playSong($event)">
    <div class="play-actions">
      <mat-icon class="mat-24" aria-label="Share">share</mat-icon>
      <mat-icon class="mat-24" aria-label="like">settings_backup_restore</mat-icon>
      <mat-icon class="mat-24" aria-label="like">favorite_border</mat-icon>
    </div>
    <ng-template let-song>
      <button class="add-to-playlist-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="AddSongPlayList(song)">
              <mat-icon>tap_and_play</mat-icon>
              <span>Add to playlist</span>
            </button>
            <button mat-menu-item (click)="AddSongQueue(song)">
               <mat-icon>queue_music</mat-icon>
               <span>Add to Queue</span>
             </button>




      </mat-menu>
    </ng-template>
  </app-playable-list>
  