
<div *ngIf="mine;else publiclist">
    <div *ngIf="(count$|async)?.length; else elseBlock">
        <div fxFlex fxLayoutAlign="center center">
          <div fxFlexAlign="center" style="width:90%">
            <mat-grid-list rowHeight="27rem" gutterSize="1rem"
             [responsiveCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}">
        
             <mat-grid-tile  *ngFor="let item of count$|async ">
              <app-playlist-card [playlist]="item" >
              </app-playlist-card>
             </mat-grid-tile>
        
            </mat-grid-list>
            <div>
              <button *ngIf="mine" mat-raised-button class="add_button" 
              (click)="createPlayList()">
                  <mat-icon mat-list-icon color="white">add_circle</mat-icon>
                  <h3 mat-line> Añadir playlist</h3>
              </button>
            </div>
          </div>
         
        
        </div>
    </div>
</div>

<ng-template #publiclist>
    <div *ngIf="(playlist)?.length; else elseBlock">

        <div fxFlex fxLayoutAlign="center center">
            <div fxFlexAlign="center" style="width:90%">
              <mat-grid-list rowHeight="27rem" gutterSize="1rem"
               [responsiveCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}">
          
               <mat-grid-tile  *ngFor="let item of playlist ">
                <app-playlist-card [playlist]="item" [publiccard]="true">
                </app-playlist-card>
               </mat-grid-tile>
          
              </mat-grid-list>
              <div>
                <button *ngIf="mine" mat-raised-button class="add_button" 
                (click)="createPlayList()">
                    <mat-icon mat-list-icon color="white">add_circle</mat-icon>
                    <h3 mat-line> Añadir playlist</h3>
                </button>
              </div>
            </div>
           
          
          </div>
    </div>
</ng-template>


<ng-template #elseBlock>
    <div class="empty">
      <mat-icon class="empty-icon" color="primary">playlist_add</mat-icon>
      <h3 class="empty-text">
        Your have no playlists. Login and Start browing artists and albums and add them to your playlist.
      </h3>
      <a  mat-button mat-raised-button 
       (click)="createPlayList()" 
       color="primary">Create new PlayList</a>
    </div>
  </ng-template>