
@import "./../../../../style/settings/breakpoints.scss";
@import "./../../../../style/settings/colors.scss";


.example-header-image img {
    width:40px;
    height: 40px;
    border-radius: 50%;
}

:host {
    display: flex;
    flex-direction: column;
}

.playlist-list {
    display: flex;
    flex-flow: column;
    @include breakpoint($narrow-devices) {
        flex-flow: row;
        flex-wrap: wrap;
    }
}

.playlist-item {
    margin-top: 15px;
    flex: 1;
    @include breakpoint($narrow-devices) {
        margin-top: 40px;
        flex: inherit;
        width: 32%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.playlist-name-link {
    text-decoration: none;
    color: currentColor;
}

.add_button{
    width:100%;
    margin-top: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
}

@import "./../../../../style/settings/colors.scss";
@import "./../../../../style/settings/breakpoints.scss";

.empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoint($narrow-devices) {
        margin-top: 15vh;
    }
}

.empty-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
}

.empty-text {
    @include breakpoint($narrow-devices) {
        max-width: 40%;
    }
    text-align: center;
    line-height: 2rem;
}