<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img [src]="playlist.userCreator.image" >
    </div>
    <mat-card-title>
        <a [routerLink]="['/playlists/detail', playlist._id]" class="playlist-name-link">{{playlist.name}}</a>
   
    </mat-card-title>
    <mat-card-subtitle> Playlist by {{ playlist.userCreator.name }}</mat-card-subtitle>
  </mat-card-header>
  <a [routerLink]="['/playlists/detail', playlist._id]" >
  <img *ngIf="playlist.userCreator.image"   class="image_card"
   [src]="playlist.file" 
   alt="Photo of a Shiba Inu">
   </a>

  <mat-card-actions>
    <button mat-button (click)="play()">Play</button>
    <button *ngIf="mine && !publiccard" (click)="openDialog()" mat-button>Delete</button>
  </mat-card-actions>
</mat-card>