@import "./../../../../style/settings/breakpoints.scss";
@import "./../../../../style/settings/colors.scss";

.example-header-image img {
    width:40px;
    height: 40px;
    border-radius: 50%;
}


.playlist-item {
    margin-top: 15px;
    flex: 1;
    @include breakpoint($narrow-devices) {
        margin-top: 40px;
        flex: inherit;
        width: 32%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.image_card{
    width: 100%;
    height: 200px;
}

.playlist-name-link {
    text-decoration: none;
    color: currentColor;
}