<div class="login">
    <mat-card>
        <mat-card-title>Add new Song</mat-card-title>
  <mat-card-content>
    <form [formGroup]="songForm" (ngSubmit)="submit()">
      
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="name" formControlName="name">
        </mat-form-field>
      </p>

      <p>
          <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
      </p>
      
  
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
  
      <div class="button">
        <button type="submit" mat-button>Add song to album</button>
      </div>
  
    </form>
  </mat-card-content>
  </mat-card>
  </div>