.circle{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


.add_button{
    width:100%;
    margin-top: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
}