
<div fxFlex fxLayoutAlign="center center">
        <div fxFlexAlign="center" style="width:90%">

    <mat-grid-list rowHeight="27rem" gutterSize="1rem" 
    [responsiveCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}">

        <mat-grid-tile  *ngFor="let item of artists">
                <mat-card class="example-card">
                   
                    <mat-card-content  fxLayoutAlign="center center">
                        <img mat-card-image class="circle" 
                        src="{{ item.image }}" 
                        style="max-height:20rem"
                        (click)="openArtist(item)">
                        
                    </mat-card-content>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    </mat-card>
        </mat-grid-tile>
      
    </mat-grid-list>

    <div *ngIf="admin">
        <button mat-raised-button class="add_button" 
        (click)="goToCreateArtist()"
         >
            <mat-icon mat-list-icon color="white">add_circle</mat-icon>
            <h3 mat-line> Add new Album </h3>
        </button>
      </div>
    </div>
    </div>




