<div class="login">
  <mat-card>
      <mat-card-title>Add new Artist</mat-card-title>
<mat-card-content>
  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="name" formControlName="name">
      </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <textarea matInput placeholder="Leave a comment" formControlName="description"></textarea>
        </mat-form-field>
    </p>

  

    <p>
        <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
    </p>
   

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button">
      <button type="submit" mat-button>Add new Artist</button>
    </div>

  </form>
</mat-card-content>
</mat-card>
</div>