@import "./../../../../style/settings/breakpoints.scss";
@import "./../../../../style/settings/colors.scss";

:host {
  display: flex;
  flex-direction: column;
}

.artist-list {
  display: flex;
  flex-flow: column;
  @include breakpoint($narrow-devices) {
      flex-flow: row;
      flex-wrap: wrap;
  }
}


.artist-item {
  margin: 10px;
  margin-top: 15px;
  padding: 0px;
  text-align: center;
  color:black;
}

.artist-item :hover{
  opacity: .5;
}


.artist-item {
	background: #00c853;

}
.artist-item:hover+span {
	bottom: -36px;
	opacity: 1;
}

/* Opacity #2 */
img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 200px;
  height: 200px;
}
 

