
<div class="modal">
    <h1>Select playlist</h1>
    
  <div class="container_full">

      <div 
      *ngIf="playlist" 
      class="artist-list"
      infinite-scroll
      [infiniteScrollDistance]="2" 
      (scrolled)="onModalScrollDown()">
      
      
      <mat-card  *ngFor="let artist of playlist" class="artist-item"
      (click)="addSong(artist)">
          <mat-card-content>
              <h2>{{ artist.name }}</h2>
                <img  [src]="artist.file"  alt="">
          </mat-card-content>
      </mat-card>
      
      </div>
  </div>

</div>


