@import "./../../../../style/settings/breakpoints.scss";
@import "./../../../../style/settings/colors.scss"; 

.playable-list-card {
    margin-top: 25px;
    padding: 0;
}

.header {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @include breakpoint($narrow-devices) {
        display: flex;
        align-items: center;
    }
    .header-image {
        @include breakpoint($narrow-devices) {
            margin-right: 20px;
        }
        img {
            border-radius: 100%;
            object-fit: cover;
            width: 80px;
            height: 80px;
        }
    }
}

.header-info {
    .title {
        margin: {
            top: 0;
            bottom: 10px;
        }
    }
    &__info {
        color: $gray--light;
        font-size: 0.8rem;
    }
}

.play-all-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.playble-list-actions {
    margin-top: 10px;
    & /deep/ .mat-icon {
        height: 20px;
        width: 20px;
        margin: {
            right: 10px;
        }
        font-size: 1.2rem;
        color: $gray--light;
    }
}

.song-list {
    .song-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1rem;
        font-weight: normal;
        font-size: 0.9rem;
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
        .play-song {
            .mat-icon {
                font-size: 30px;
                margin-right: 20px;
                width: 30px;
                height: 30px;
            }
        }
        .spacer {
            flex: 1 auto;
        }
    }
}