

<mat-card class="card">
    <div class="card-image ">
        <a class="cart" (click)="playAlbum()" >

          	<div class="overlayer">
                <i class="far fa-play-circle material-icons"> play_circle_filled</i>
              </div>
          <img  src="{{ album.image }}" [alt]="imageAlt">
        </a>
    </div>
      <mat-card-content>
          <mat-card-title class="card-title">
              <a class="album-name-link">{{album.title}}</a>
            </mat-card-title>
            <mat-card-subtitle>
              <div>
                  <mat-chip-list >
                      <mat-chip>Papadum</mat-chip>
                      <mat-chip>Papadum</mat-chip>
                  </mat-chip-list>
              </div>
            </mat-card-subtitle>
          </mat-card-content>

      <mat-card-actions class="actions" fxLayoutAlign="start center">
        <button class="btn_album" (click)="info()" [color]="'primary'" mat-button mat-raised-button [routerLink]="link">Ver album</button>
      </mat-card-actions>


</mat-card>