
@import "./../../../../style/settings/breakpoints.scss";

.card .actions {
  padding-bottom: 15px;
}
.card-title {
 padding-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  @include breakpoint($narrow-devices) {
      min-height: 3rem;
  }
}

  .optionsMenu{
    display: flex;
    width: 20%;
  }

  .card-title {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
  }

  

  .artist-name-link {
    text-decoration: none;
    color: currentColor;
}

.btn_album{
  width: 100%;
}

/**EFECTO DEL PLAY **/



.cart {
	width: 100%;
  display: flex;
  align-items: center;
	background: #000;
}
.cart:hover .overlayer {
	visibility: visible;
}
.cart img {
	width: 100%;
	height: 100%;
}

.cart .overlayer {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.6);
	text-align: center;
	visibility: hidden;
}

.overlayer .fa-play-circle {
	color: #fff;
	font-size: 73px;
	margin-top: 53px;
	transition: 100ms ease-in-out;
}
.fa-play-circle:hover {
  transform: scale(1.1);
  cursor: pointer;
}










