@import "./../../../../style/settings/breakpoints.scss";
.content,.card{
    width: 100%;
}

.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 0;
    width: 100%;
}

.artist-content {
  
    @include breakpoint($narrow-devices) {
        display: flex;
       
    }
    .albums {
        margin-left: 10px;
        @include breakpoint($narrow-devices) {
            flex-basis: 60%;
        }
    }
    .side-blocks {
        @include breakpoint($narrow-devices) {
            margin-top: 72px;
            flex-basis: 38%;
        }
    }
}

.card_album{
    background-color:rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

a{
    color:white;
    font-style: oblique;
}

 a:hover   {
    color: #00c853;
  }

  .album_actions{
    align-items: space-between; align-content: space-between
  }

.album_actions a {
    color:black;
    margin-left: 10px;
}



.card_detail{
    padding:16px;
   
}

.add_button{
    width:100%;
    margin-top: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
}



.content{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

