

      <div>
          <br>
        
            <div class="container">
              <div fxLayout="row" fxLayoutAlign="center center" class="content">

                
                <mat-card class="card" >
              
                  
                      <mat-card-content  >
                          <div class="card_album" fxLayoutAlign="right center"  fxLayout="row">
                              <img src="{{ album.image }}" alt="Foto del autor" width="250px" width="250px">
                              <div class="card_detail">
                                  <h1>{{album.title}}</h1> 
                                   <h3> De <a   [routerLink]="['/artist', album.artist._id]">{{album.artist.name}}</a></h3> 
                          
                                  <h5>{{album.description}}</h5>

                                  <div *ngIf="admin" class="album_actions"  fxLayout="row" fxLayoutAlign="space-between">
                                      <a [color]="'primary'" mat-button mat-raised-button (click)="addSong()">
                                          <mat-icon>add_circle</mat-icon>Add song</a>

                                      <a [color]="'red'" mat-button mat-raised-button (click)="openDialog()">
                                          <mat-icon>delete</mat-icon>Remove  Album</a> 
                                  </div>

                                 


                        
                                 
                              </div>
                          </div>
                          <div class="album1">
                              <app-playable-list [image]="album.image" [title]="album.name"
                              [info]="album.description" [songs]="songs"
                               (onPlayall)="playAlbum()" 
                               (onPlayItem)="playSong($event)"
                               >
                                 <div class="play-actions">
                                   <mat-icon class="mat-24" aria-label="Share">share</mat-icon>
                                   <mat-icon class="mat-24" aria-label="like">settings_backup_restore</mat-icon>
                                   <mat-icon class="mat-24" aria-label="like">favorite_border</mat-icon>
                                 </div>
                                 <ng-template let-song>
                                   <button class="add-to-playlist-button" mat-icon-button [matMenuTriggerFor]="menu">
                                     <mat-icon>more_vert</mat-icon>
                                   </button>
                                   <mat-menu #menu="matMenu">
                                   
                                     <button mat-menu-item (click)="AddSongPlayList(song)">
                                       <mat-icon>tap_and_play</mat-icon>
                                       <span>Add to playlist</span>
                                     </button>
                                     <button mat-menu-item (click)="AddSongQueue(song)">
                                        <mat-icon>queue_music</mat-icon>
                                        <span>Add to Queue</span>
                                      </button>

                                      <button *ngIf="admin" mat-menu-item (click)="RemoveSong(song)">
                                        <mat-icon>clear</mat-icon>
                                        <span>Remove Song</span>
                                      </button>



                                   </mat-menu>
                                 </ng-template>
                               </app-playable-list>
                          </div>
                      </mat-card-content>
                      <mat-card-actions fxLayoutAlign="center">

                       

                      </mat-card-actions>
                </mat-card>
              </div>
            </div>
          
        </div>
    

