<div class="login">
  <mat-card>
      <mat-card-title>Add new Album</mat-card-title>
<mat-card-content>
  <form [formGroup]="userForm" (ngSubmit)="submit()">

      
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="name" formControlName="title">
      </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <textarea matInput placeholder="Leave a comment" formControlName="description"></textarea>
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Artist" aria-label="Artist"
         [matAutocomplete]="auto" formControlName="artist">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img class="example-option-img" aria-hidden [src]="state.image" height="25">
            <span>{{state.name}}</span>
          
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="year">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>  
    </p>

    <p>
        <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
    </p>
    
    <p>
      <app-progress [progress]="progress"></app-progress>
    </p>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button">
      <button type="submit" mat-button>Add new Album</button>
    </div>

  </form>
</mat-card-content>
</mat-card>
</div>