


$linear: linear-gradient(to top, transparent 0, transparent 0%, rgba(0, 0, 0, 0.4) 20%);
@mixin opac-bg($bg:$linear) {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $bg;
        z-index: 1;
    }
}