
<div class="artist" *ngIf="artist">

  
  <div class="artist-banner">
    <div class="arist-banner-name">
      <h1>{{artist.name}}</h1>
      <div class="about">{{artist.about}}</div>
      <a [color]="'primary'" mat-button mat-raised-button (click)="playAll()">
        <mat-icon>play_circle_outline</mat-icon> Play songs</a>
  
    </div>
    <img [src]="artist.image" [alt]="artist.name" [title]="artist.name" />
  </div>

  <div class="artist-content">
    <div></div>
    <div class="albums">
      <h3>
        <mat-icon color="accent">album</mat-icon> {{artist.name}} Albums</h3>
        <app-artist-album-list [artist]="artist" [albums]="albums"
         (onAddSong)="addSongToPlaylist($event)"></app-artist-album-list>
    </div>
    <div class="side-blocks">

      <div class="block" *ngIf="admin" >
          <mat-card>
              <mat-card-header>
                  <h3 class="title">
                    <mat-icon color="primary">create</mat-icon> Admin
                  </h3>
                </mat-card-header>
              <mat-card-content class="categories-list">
                  <a [color]="'red'" mat-button mat-raised-button (click)="openDialog()">
                      <mat-icon>delete</mat-icon>Remove  Artist</a> 
                </mat-card-content>
          </mat-card>
      </div>
      

      <div class="block">
        <mat-card>
          <mat-card-header>
            <h3 class="title">
              <mat-icon color="primary">done_all</mat-icon> Categories
            </h3>
          </mat-card-header>
          <mat-card-content class="categories-list">
            <mat-chip-list>
              <mat-chip>Jazz</mat-chip>
              <mat-chip>House</mat-chip>
              <mat-chip>Country</mat-chip>
              <mat-chip>Reggae</mat-chip>
              <mat-chip>House / Jazz</mat-chip>
              <mat-chip>Hip Hop</mat-chip>
              <mat-chip>Cascaton</mat-chip>
              <mat-chip>Reggaton</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
  
  
  
  
 
