@import "./../../../../style/settings/breakpoints.scss";

@import "./../../../../style/partials/opac_background.scss";





$linear: linear-gradient(to top, transparent 0, transparent 0%, rgba(0, 0, 0, 0.4) 30%);
.artist {
    
}


.artist-banner {
    @include opac_bg($linear);

    display: flex;
    height: 400px;
    width: 100%;
    overflow: hidden;
   
    img {
        object-fit: cover;
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
        min-height: 0;
        height: 100%;
        min-width: 100%;
        width: auto;
        max-width: 100%;
    }
}

.arist-banner-name {
    position: absolute;
    bottom: 30%;
    text-align: center;
    width: 80%;
    left: 10%;
    color: #fff;
    z-index: 1;
}

.artist-content {
  
    margin: 2rem;
}

.about {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.artist-content {
    @include breakpoint($narrow-devices) {
        display: flex;
        justify-content: space-between;
    }
    .albums {
        @include breakpoint($narrow-devices) {
            flex-basis: 60%;
        }
    }
    .side-blocks {
        @include breakpoint($narrow-devices) {
            margin-top: 72px;
            flex-basis: 38%;
        }
    }
}

.list-followers {
    display: flex;
    list-style: none;
    padding-left: 0;
    li {
        margin: {
            left: 5px;
            right: 5px;
        }
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.block {
    .title {
        margin: {
            top: 0;
            bottom: 30px;
        }
    }
    margin-bottom: 30px;
}

.categories-list {
    .mat-chip {
        margin: {
            left: 10px;
            bottom: 10px;
        }
    }
}
