@mixin main-app-component-theme($theme) {
    $primary: map-get($theme, "primary");
    $background: map-get($theme, "background");
    .sidenav {
        background-color: mat-color($background, app-bar);
    }
}