


<!--
  <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
  <ng-template #doSomething>

        <div class="navloko">
                <app-main-nav >
                    <router-outlet></router-outlet>
                </app-main-nav>
            </div>
            <app-player class="player_general"></app-player>
  </ng-template>

  <ng-template #doSomethingElse>
        <app-main-nav >
        <router-outlet></router-outlet>
        </app-main-nav>
      </ng-template>



    -->


    <div class="navloko">
        <app-main-nav >
            <router-outlet></router-outlet>
        </app-main-nav>
    </div>
    <app-player class="player_general"></app-player>




