


<mat-tab-group>
    <mat-tab label="Perfil">

        <div>
            <br>
          
              <div class="container">
                <div fxLayout="row" fxLayoutAlign="center center" class="content">
                  <mat-card class="card" >
                      <mat-card-header>
                          <mat-card-title>{{user.name}}</mat-card-title>
                          <mat-card-subtitle>- {{user.email}} -</mat-card-subtitle>
                        </mat-card-header>
                    
                        <mat-card-content fxFlexAlign="center" fxLayoutAlign="center">
                          <div class="">
                             
                            <img  src="{{ user.image }}" alt="Foto del autor" width="250px" width="250px">
                            <h5>ISBN: hola</h5>
                            <h5>Fecha de publicación: hola</h5>
                          </div>
                        
                        </mat-card-content>
                        <mat-card-actions fxLayoutAlign="center">
                          <a mat-raised-button [routerLink]="['/profile/edit']" color="accent">Edit profile</a>
                          <button mat-raised-button primary disabled>Más libros del autor</button>
                        </mat-card-actions>
                    
                    
                    
                  </mat-card>
                </div>
              </div>
            
          </div>
      
    </mat-tab>

</mat-tab-group>


    
