.card {
    min-width: 80%;
}
  
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
}
a {
    cursor: pointer;
}

p {
    padding-left: 2rem;
  }
  
  .mat-card-title {
    font-size: calc(100% + 2rem)
  }
  
  .mat-card-subtitle {
    font-size: 1.5rem;
  }
  