
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css');

mat-card {
    padding: 0!important;
}

mat-slider {
    max-height: 30px;
}

table {
    width: 100%;
}

button:hover,
button:focus { 
    outline: 0!important;
}

.ngx-advanced-audio-player {
    min-width: 200px;
    max-width: 200px;
}


.fotoAlbum{
    background-color: orange;
    max-width:  5%; 
    min-width: 5%;

}

.play-image-album{
    width:  100%; 
 } 

.reproductor{
    width: 120%;
    background-color: #424242;
    padding-top: 0px;
    padding-bottom: 0px;
}


.madrugo{
    display: flex;
    width: 100%;
    height: 100%;
  
  
}





