

<div class="madrugo">

   <!-- album-->
   <div class="fotoAlbum" (click)="goToAlbum()">
      <img  class="play-image-album" [src]="playlistTrack[1].image">
  </div>
   
  <!--REPRODUCTOR-->
  <div class="reproductor">
    <!--Caja de arriba-->
      <mat-card class="d-flex justify-content-center " style="margin: 0px;">
          <audio [src]="playlistTrack[1].link" #audioPlayer></audio>
          
          <!-- boton del atras-->
          <button  mat-flat-button  class="p-1" (click)='previousSong();' [disabled]="loaderDisplay">
            <fa-icon class="fa fa-lg" [icon]="['fas','step-backward']" aria-hidden="true"></fa-icon>
          </button>
        
          <!-- boton del play -->
          <button mat-button class="p-1" (click)='playBtnHandler();' 
            [disabled]="loaderDisplay">
            <fa-icon *ngIf="loaderDisplay" title="loading..." class="fa fa-2x loading-track" [pulse]="true" [icon]="['fas','spinner']"
              aria-hidden="true"></fa-icon>
            <fa-icon *ngIf="!loaderDisplay && !isPlaying" class="fa fa-2x play-track" style="color:#ccc" [icon]="['fas','play']"
              aria-hidden="true"></fa-icon>
            <fa-icon *ngIf="!loaderDisplay && isPlaying" class="fa fa-2x pause-track" style="color:#ccc" [icon]="['fas','pause']"
              aria-hidden="true"></fa-icon>
          </button>
        
          <!-- boton para avanzar-->
          <button   mat-button class="p-1" (click)='nextSong();' [disabled]="loaderDisplay">
            <fa-icon class="fa fa-lg next-track" [icon]="['fas','step-forward']" aria-hidden="true"></fa-icon>
          </button>
        
          <div class="col">
        
            <div class="d-flex flex-fill">
              <div class="py-3 px-1" style="font-size: 12px">
                <span *ngIf="duration !== 0.01">
                  {{currentTime | secondsToMinutes}}
                </span>
              </div>
        
              <!-- lista de avance de la cancion -->
              <mat-slider class="flex-fill p-1" style="width: 100%" min="0" max="{{duration}}" value="{{currentTime}}" (change)="currTimePosChanged($event)"></mat-slider>
        
              <div class="py-3 px-1" style="font-size: 12px; text-align: right">
                <span *ngIf="duration !== 0.01">
                  -{{duration-currentTime | secondsToMinutes }}
                </span>
              </div>
      
              <button mat-icon-button   [matMenuTriggerFor]="menu1">
                  <mat-icon>info</mat-icon>
                  
                </button>
                <mat-menu #menu1>
                    <button mat-menu-item (click)="AddSongPlayList()">Añadir a playlist</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
        
           
                
            </div>
          </div>
        
      </mat-card>
        
      <!-- Caja de abajo-->
        <mat-card>
          <div class="p-1" style="text-align: center;">
            <div style="padding:0px 0px; ">
              <div style="height:23px"*ngIf="!isPlaying">{{ playlistTrack[1].title }}</div>
              <marquee *ngIf="isPlaying" behavior="scroll" direction="left">{{ playlistTrack[1].title }}</marquee>
            </div>
            <div class="clear"></div>
          </div>
        </mat-card>
  </div>



 
</div>

   






<!--
  
-->


