/* You can add global styles to this file, and also import other style files */
$gray: #ccc;
$gray--light: #a8a8a8;
$gray--very-light: #dedede;
$gray--dark: #333;

$color--background:  #f9f9f9;


$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;

body {
    margin: 0;
    font-family: $font-family;
    overflow: hidden;
}

button {
    background: transparent;
    border: none;
}


html, body { height: 100%; }

svg {
    fill: currentColor;
}


.mat-button,
.mat-fab,
.mat-mini-fab {
    .mat-icon {
        color: currentColor;
    }
}

.mat-button {
    .mat-button-wrapper {
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .mat-icon {
        width: 26px;
        height: 26px;
    }
}

mat-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.mat-toolbar:not([class*=mat-elevation-z]) {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


h1,
h2,
h3,
h4 {
    font-weight: 600;
}

.mat-icon {
    h3 & {
        vertical-align: top;
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
    h4 & {
        font-size: 1.3rem;
        vertical-align: middle;
    }
}





body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #00c853;
    color: white !important;
 }










