:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

.form{
    align-content: center;
    justify-content: center;
    flex-direction: row;
}