<div class="form">

    <form [formGroup]="form" (ngSubmit)="submit()">
      <h1>Add new playlist</h1>
        <div fxFlexAlign="center" fxLayoutAlign="stretch">
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="name" formControlName="name">
              <mat-error *ngIf="f.name.invalid">Por favor introduzca un nombre válido</mat-error>
            </mat-form-field>
        </div>

            <div fxFlexAlign="center" style="padding-top: 20px">
                <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
                <div *ngIf="f.image.invalid && submitted">
                  <span class="error1">Imagen no valida</span>
                </div>
              </div>
              <br>
              <br>
              <button type="submit" mat-raised-button color="primary"
            
               mat-button>Add new Playlist</button>
          
      </form>

</div>
