@import "./../../../../style/settings/colors.scss";
@import "./../../../../style/settings/breakpoints.scss";

.container{
    padding:16px;
}
.empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoint($narrow-devices) {
        margin-top: 15vh;
    }
}

.empty-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
}

.empty-text {
    @include breakpoint($narrow-devices) {
        max-width: 40%;
    }
    text-align: center;
    line-height: 2rem;
}