

<div fxFlex fxLayoutAlign="center center">
    <div fxFlexAlign="center" style="width:90%">

    <br>
   
    <mat-grid-list rowHeight="27rem" gutterSize="1rem" 
    [responsiveCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}">

        <mat-grid-tile *ngFor="let rest of album ">
            <app-album-card [album]="rest" (deleted)="delete(rest)">
              </app-album-card>
        </mat-grid-tile>
      
    </mat-grid-list>
    
   <div *ngIf="admin"> 
        <button mat-raised-button class="add_button" 
        (click)="goToCreateAlbum()"
         >
            <mat-icon mat-list-icon color="white">add_circle</mat-icon>
            <h3 mat-line> Add new Album </h3>
        </button>
    </div>

    <div *ngIf="!admin">
        <p></p>
    </div>
  </div>

</div>

 

<!--


  <div fxFlex fxLayoutAlign="center center">
  <div fxFlexAlign="center" style="width:90%">
    <div fxLayoutAlign="center">
      <h1> Libros </h1>
    </div>
    
    <mat-grid-list cols="3" rowHeight="35rem" gutterSize="1rem">

      <mat-grid-tile *ngFor="let rest of album">
        <app-album-card [album]="rest">
        </app-album-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <div fxFlexFill>
      <button mat-raised-button style="width:100%" routerLink="/libros/nuevo" disabled>
        <mat-list-item>
          <mat-icon mat-list-icon color="primary">add_circle</mat-icon>
          <h3 mat-line> Añadir libro </h3>
        </mat-list-item>
      </button>
    </div>
  </div>

</div>
-->



