<div class="login">
                <mat-card>
                    <mat-card-title>Register</mat-card-title>
              <mat-card-content>
                <form [formGroup]="userForm" (ngSubmit)="submit()">
            
                  <p>
                    <mat-form-field>
                      <input type="text" matInput placeholder="name" formControlName="name">
                      <mat-error *ngIf="f.name.invalid ">Por favor introduzca un nombre válido</mat-error>

                     </mat-form-field>
                  </p>
            
                  <p>
                      <mat-form-field>
                        <input type="text" matInput placeholder="surname" formControlName="surname">
                        <mat-error *ngIf="f.surname.invalid ">Por favor introduzca un apellido válido</mat-error>
                        </mat-form-field>
                  </p>
            
                  <p>
                      <mat-form-field>
                        <input type="email" matInput placeholder="email" formControlName="email">
                        <mat-error *ngIf="f.email.invalid ">Por favor introduzca un email válido</mat-error>
                        </mat-form-field>
                  </p>
            
                  <p *ngIf="error" class="error">
                    {{ error }}
                  </p>
            
                  <div class="button">
                    <button type="submit" mat-button>Update</button>
                  </div>
            
                </form>
              </mat-card-content>
            </mat-card>
            </div>