

<mat-sidenav-container  class="sidenav-container" autosize>

  <mat-sidenav #drawer 
       [ngStyle]="{'display': !logged ? 'none':'flex'}" 
       class="sidenav"
       fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
     >
    <mat-toolbar>

      Menu
    </mat-toolbar>

    <mat-nav-list>
        <div class="side-menu">

            <a mat-list-item [routerLink]="['/home']" routerLinkActive="active">
              <mat-icon color="accent">home</mat-icon><span>Home</span>
            </a>

            <a mat-list-item [routerLink]="'/queue'" routerLinkActive="active">
              <mat-icon color="accent">queue_music</mat-icon><span class="invisible">Queue</span>
            </a>

            <a mat-list-item [routerLink]="'/artist'" routerLinkActive="active">
              <mat-icon color="accent">album</mat-icon><span>Artists</span>
            </a>

            <a mat-list-item [routerLink]="'/playlists/me'" routerLinkActive="active">
              <mat-icon color="accent">headset</mat-icon><span class="invisible">My playlists</span>
            </a>

            <a mat-list-item [routerLink]="'/playlists/explore'" routerLinkActive="active">
              <mat-icon color="accent">search</mat-icon><span class="invisible">Explore</span>
            </a>

        </div>
     
    </mat-nav-list>

  
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="logged">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon  aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>musicLive</span>
      <span class="example-spacer"></span>
     
      <button 
      *ngIf="logged"
      type="button"
      mat-icon-button>
      <mat-icon class="example-icon"
       [matMenuTriggerFor]="menu"
        aria-hidden="false" 
        aria-label="Example delete icon">expand_more</mat-icon>
      </button>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile/me']">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()" >
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
    </mat-menu>

    <main >
        <ng-content >

        </ng-content>
    </main>
  


  

  </mat-sidenav-content>

 


</mat-sidenav-container>









