.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.special {
  display: flex;
  background-color: red;
  justify-content:space-between
}

.sidenav .mat-toolbar {
  background: inherit;
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.hidden{
  display: none;
}








