@import "./../../../../style/settings/breakpoints.scss";
.content,.card{
    width: 100%;
}

.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 0;
    width: 100%;
}
.album1{
    margin-left: 10px;
}

.artist-content {
  
    @include breakpoint($narrow-devices) {
        display: flex;
        justify-content: space-between;
    }
    .albums {
        margin-left: 10px;
        @include breakpoint($narrow-devices) {
            flex-basis: 60%;
        }
    }
    .side-blocks {
        @include breakpoint($narrow-devices) {
            margin-top: 72px;
            flex-basis: 38%;
        }
    }
}

.is-active {
    background-color: red;
}

.content{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


.material-icons.color_green { color: #00FF00; }
.material-icons.color_white { color: #FFFFFF; }