

      <div>
      
          <br>


  
            <div class="container">
              <div fxLayout="row" fxLayoutAlign="center center" class="content">
                <mat-card class="card" >
                    <mat-card-header >
                        <mat-card-title>{{playlist.name}}</mat-card-title>
                        <mat-card-subtitle>-Owner: {{playlist.userCreator.name}} -</mat-card-subtitle>
                      </mat-card-header>
                  
                      <mat-card-content fxFlexAlign="center" fxLayoutAlign="center" >

                          <div class="album1">
                              <app-playable-list [image]="playlist.file" [title]="playlist.name"
                              [info]="aaaa" [songs]="playlist.songs"
                               (onPlayall)="playAlbum()" 
                               (onPlayItem)="playSong($event)"
                               >
                                 <div class="play-actions">
                                   <mat-icon class="mat-24" aria-label="Share">share</mat-icon>
                                   <mat-icon class="mat-24" aria-label="like">settings_backup_restore</mat-icon>
                                   <mat-icon class="mat-24" aria-label="like">favorite_border</mat-icon>
                                 </div>
                                 <ng-template let-song>
                                   <button class="add-to-playlist-button" mat-icon-button [matMenuTriggerFor]="menu">
                                     <mat-icon>more_vert</mat-icon>
                                   </button>
                                   <mat-menu #menu="matMenu">
                                   
                                      <button *ngIf="mine"
                                       mat-menu-item (click)="removeSongFromPlaylist(song)">
                                          <mat-icon>clear</mat-icon>
                                          <span>Remove from PlayList</span>
                                        </button>
                                   </mat-menu>
                                 </ng-template>
                               </app-playable-list>
                          </div>                      
                      </mat-card-content>  
                </mat-card>
              </div>

          
        </div>