<app-viewer-box title="Registro">
  <div class="view-content">

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div fxFlexAlign="center" fxLayoutAlign="stretch">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Nombre" formControlName="name">
          <mat-error *ngIf="f.name.invalid && submitted">Por favor introduzca un nombre válido</mat-error>
        </mat-form-field>
      </div>

      <div fxFlexAlign="center" fxLayoutAlign="stretch">
        <mat-form-field>
          <input type="text" matInput placeholder="Apellido" formControlName="surname">
          <mat-error *ngIf="f.surname.invalid && submitted">Por favor introduzca un apellido válido</mat-error>
        </mat-form-field>
      </div>

      <div fxFlexAlign="center" fxLayoutAlign="stretch">
        <mat-form-field>
          <input type="email" matInput placeholder="email" formControlName="email">
          <mat-error *ngIf="f.email.invalid && submitted">Por favor introduzca un email válido</mat-error>
        </mat-form-field>
      </div>

      <div fxFlexAlign="center" fxLayoutAlign="stretch">
        <mat-form-field>
          <input type="password" matInput placeholder="Constraseña" formControlName="password">
          <mat-error *ngIf="f.password.invalid && submitted">Por favor introduzca una contraseña</mat-error>
        </mat-form-field>
      </div>

      <div fxFlexAlign="center" fxLayoutAlign="stretch">
        <mat-form-field>
          <input type="password" matInput placeholder="Repita su contraseña" formControlName="passwordConfirm">
          <mat-error *ngIf="f.passwordConfirm.invalid ">Repita su contraseña</mat-error>
        </mat-form-field>
      </div>

      <div fxFlexAlign="center" style="padding-top: 20px">
        <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
        <div *ngIf="f.image.invalid && submitted">
          <span class="error1">Imagen no valida</span>
        </div>
      </div>

      <div>
        <p>
          <app-progress [progress]="progress"></app-progress>
        </p>

        <div *ngIf="submitted"   class="error">
          <p *ngFor="let err of error">{{err}}</p>

        </div>

        <div class="button">
          <button type="button" mat-raised-button color="primary" (click)="goLogin()" mat-button>login</button>
          <button type="submit" mat-raised-button color="primary" mat-button>Register</button>
        </div>
      </div>

    </form>
  </div>
</app-viewer-box>