:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 100%;
    color: white;
    background-color: red;
    margin-bottom: 16px;
  }

  .error1 {
    padding: 16px;
    width: 300px;
    color: #ff5722;
    padding-left: 0px;
    font-size: 12px;
    margin-bottom: 20px;
    
  }
  

  .button {
    display: flex;
    justify-content:space-between
  }