<mat-tab-group>
  <mat-tab label="Albums">
<div class="asdf">
    <app-album-page></app-album-page>
</div>
     
  </mat-tab>
  <mat-tab label="Artists"> 
  <div>
    <app-artist-page></app-artist-page>
  </div>
   </mat-tab>
  <mat-tab label="Playlist"> Content 3 </mat-tab>
</mat-tab-group>